.submitButton{
    padding: 10px;
    color: white;
    background-color: #007bff;
    border: none;
}

.disabledButton{
    padding: 10px;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: not-allowed;
}